yahpo_venv/
smac_venv/
hebo_venv/
ax_venv/ee 
renv/
.Rprofile
*.rds
.RData
.Rhistory
*.html
__pycache__/
log_nodes/
coordinate_descent_*.log
log_nodes_pure_numeric/
log_nodes_mixed_deps/
log_nodes_pure_numeric
log_nodes_mixed_deps
coordinate_descent/logs/
*.log
hyperqueue/
nohup.out
logs
random_search/results/numeric_rs_archive.csv
random_search/results/mixed_rs_archive.csv
random_search/results/numeric_rs_simulated_400.csv
random_search/results/numeric_rs_simulated.csv
random_search/results/mixed_rs_simulated_400.csv
random_search/results/mixed_rs_simulated.csv
competitors_2/results/numeric_archive.csv
competitors_2/results/mixed_archive.csv

