#!/bin/bash

## Job Resource Interface Definition
##
## ntasks [integer(1)]:       Number of required tasks,
##                            Set larger than 1 if you want to parallelize with MPI.
## ncpus [integer(1)]:        Number of required CPUs per task.
## walltime [integer(1)]:     Walltime in seconds (converted to HH:MM:SS).
## memory [integer(1)]:       Memory in MB per node.
## queue [string]:            Queue name (e.g., "main", "preempt").
## account [string]:          NCAR project code (e.g., "WYOM0202").
## array.jobs [logical]:      Whether this job is an array job.
##
## Default resources can be set in your .batchtools.conf.R using 'default.resources'.

<%
# Expand relative paths
log.file = fs::path_expand(log.file)
-%>

#PBS -N <%= job.name %>
#PBS -A WYOM0202
#PBS -q develop
#PBS -l select=1:ncpus=<%= resources$ncpus %>:mem=<%= ceiling(resources$memory / 1024) %>GB
#PBS -l walltime=<%= sprintf("%02d:%02d:%02d", resources$walltime %/% 3600, (resources$walltime %% 3600) %/% 60, resources$walltime %% 60) %>
#PBS -j oe
#PBS -o <%= log.file %><%= if (array.jobs) paste0("-", "$PBS_ARRAYID") else "" %>
<%= if (array.jobs) sprintf("#PBS -J 1-%i", nrow(jobs)) else "" %>

## Setup temporary directory
export TMPDIR=/glade/scratch/$USER/tmp
mkdir -p "$TMPDIR"

## Load required environment modules
ml conda
conda activate r-4.3

## Export relevant environment variables
export DEBUGME=<%= Sys.getenv("DEBUGME") %>
export OMP_NUM_THREADS=<%= resources$omp.threads %>
export OPENBLAS_NUM_THREADS=<%= resources$blas.threads %>
export MKL_NUM_THREADS=<%= resources$blas.threads %>

## Execute job
Rscript -e 'batchtools::doJobCollection("<%= uri %>"<%= if (array.jobs) ', which = as.integer(Sys.getenv("PBS_ARRAYID"))' else "" %>)'
